<div class="dino-card">
  <div class="dino-img" style="background-image: url('<%= dinosaur.image_url%>')">
  </div>
  <div class="lower-card">
    <div class="dino-name"><h2><%= dinosaur.name %></h2></div>
    <div class="dino-description">
      <%= dinosaur.description %>
    </div>
  </div>
</div>
