<div class="welcome-container">
  <p>Welcome to</p>
  <h1>Jurassic Parks</h1>
  <div class="logo"> <%= image_tag "t-rex.svg" %> </div>
</div>

<div class="circles-container">

</div>

<div class="parks-container">

</div>
