<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @park.banner_url %>');">
    <h1> <%= @park.name %> </h1>
</div>


<div class="dino-container">
  <div class="wrapper">
    <% @park.dinosaurs.each do |dinosaur| %>
      <%= render "dino_card", dinosaur: dinosaur %>
    <% end %>
  </div>
</div>
