h1 {
  color: white;
  text-align: center;
  padding-bottom: 100px;
  padding: 100px;
}

.validation-btn {
  border: 1px solid red;
  color: white;
  opacity: 0.8;
  margin: 10px;
}

.validation-btn:hover {
  opacity: 1;
  color: white;
}

#new-form {
  color: white;
}
