h1 {
  color: white;
  text-align: center;
  padding-bottom: 100px;
  margin-top: 5px;
}

.button {
  border: 1px solid red;
  color: white;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;
}

#new-form {
  color: white;
}
