.welcome-container {
  background-color: black;
  color: white;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-family: $jurassic;
    font-size: 135px;
  }

  img {
    width: 25%;
  }
}
