.card-park {
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 400px;
  border: 1px solid $jsred;
}

.card-park img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.cards h2 {
  text-align: center;
  font-family: $jurassic;
  font-size: 60px;
}

.cards a:hover {
  text-decoration: none;
}
